@use "sass:map";
@use "var.module";
@use "mixins.module";

:global html {
  box-sizing: border-box;
}

:global *,
:global *:before,
:global *:after {
  box-sizing: inherit;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
}

:global body {
  @include mixins.font-slab-serif;
  font-size: 16px;
  margin: 0;
  background-color: map.get(var.$colors, "panda", "white");
  color: map.get(var.$colors, "panda", "black");
}

:global a,
:global a:hover,
:global a:focus,
:global a:visited {
  color: map.get(var.$colors, "accent", "blue");
  text-decoration: none;
  font-weight: bold;
}

:global h1,
:global h2,
:global h3,
:global h4,
:global h5,
:global h6 {
  @include mixins.font-geometric-humanist;
}

:global h1 {
  font-size: 2rem;
}

:global p {
  font-size: 1.125rem;
  line-height: 2rem;
}

@viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}
